In [1]:
# from Feat_eng import Y_train, X_train, Y_test, X_test, c1_train, c2_train, c3_train, c1_test, c2_test, c3_test, Y_c1train, Y_c2train, Y_c3train, Y_c1test, Y_c2test ,Y_c3test

In [1]:
import pickle
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV, KFold, cross_val_score, RandomizedSearchCV
from datetime import datetime
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import statsmodels.api as sm
import pylab as py
import scipy.stats as stats 
from scipy.stats import norm, skew, probplot
from sklearn.metrics import r2_score, mean_squared_error, accuracy_score
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet, RidgeCV, LassoCV, ElasticNetCV
from sklearn.decomposition import PCA
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor

In [37]:
from Pred_ZRI_feats import zip_test, zip_train, future_feats, future_targets, Y_train, X_train, Y_test, X_test, c1_train, c2_train, c3_train, c1_test, c2_test, c3_test, Y_c1train, Y_c2train, Y_c3train, Y_c1test, Y_c2test ,Y_c3test, target

In [3]:
target

,RegionName,year,value,geo_id,nonfamily_households,family_households,median_year_structure_built,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,...,log_value,future_value,male_ratio,white_ratio,black_ratio,asian_ratio,hispanic_ratio,employed_ratio,civil_labor_ratio,Cluster
0,01104,2014,946.100000,01104,3346.0,5526.0,1949.0,158.0,1597.0,523.0,...,6.852348,972.583333,0.477361,0.329594,0.117433,0.010904,0.531703,0.395109,0.469239,1
1,01104,2015,972.583333,01104,3377.0,5407.0,1948.0,146.0,1791.0,466.0,...,6.879956,1058.666667,0.478263,0.319353,0.101512,0.019630,0.549670,0.398254,0.461912,1
2,01104,2016,1058.666667,01104,3432.0,5434.0,1949.0,172.0,1898.0,516.0,...,6.964766,1129.166667,0.467110,0.315878,0.079972,0.017987,0.571669,0.392658,0.449424,1
3,01104,2017,1129.166667,01104,3287.0,5702.0,1946.0,107.0,2032.0,577.0,...,7.029235,1125.083333,0.460292,0.292194,0.078781,0.012735,0.596573,0.388238,0.438968,1
4,01104,2018,1125.083333,01104,3478.0,5599.0,1946.0,75.0,1963.0,502.0,...,7.025612,1145.583333,0.463101,0.275423,0.086447,0.013905,0.604750,0.391816,0.436003,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6042,98499,2014,979.000000,98499,5610.0,6870.0,1973.0,265.0,2355.0,952.0,...,6.886532,995.833333,0.492245,0.467639,0.103251,0.086748,0.211496,0.397328,0.469392,1
6043,98499,2015,995.833333,98499,5736.0,6891.0,1973.0,346.0,2355.0,816.0,...,6.903580,1036.166667,0.505450,0.463689,0.108836,0.087294,0.221283,0.396388,0.464463,1
6044,98499,2016,1036.166667,98499,5670.0,6965.0,1973.0,310.0,2352.0,995.0,...,6.943283,1154.833333,0.502808,0.439341,0.120046,0.093177,0.210382,0.403395,0.459354,1
6045,98499,2017,1154.833333,98499,5149.0,7244.0,1973.0,327.0,2367.0,1006.0,...,7.051711,1257.416667,0.510771,0.425098,0.124402,0.108897,0.206512,0.412859,0.463662,1
6046,98499,2018,1257.416667,98499,5408.0,7539.0,1972.0,458.0,2229.0,963.0,...,7.136815,1305.181818,0.512198,0.433982,0.128706,0.091343,0.213517,0.417750,0.455433,1

In [4]:
future_feats.shape

(2574, 137)

In [5]:
future_targets.shape

(2574, 3)

In [6]:
future_feats

,year,nonfamily_households,family_households,median_year_structure_built,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,rent_35_to_40_percent,rent_30_to_35_percent,rent_25_to_30_percent,...,est,log_value,male_ratio,white_ratio,black_ratio,asian_ratio,hispanic_ratio,employed_ratio,civil_labor_ratio,Cluster
0,2019,3514.005750,5619.596240,1945.251283,64.221758,2069.917185,500.311260,181.584777,552.064005,465.324405,...,504.060577,7.069693,0.459636,0.263420,0.080712,0.015700,0.624568,0.391020,0.428081,1
1,2020,3550.011500,5640.192481,1944.502565,53.443516,2176.834370,498.622521,161.169554,608.128010,440.648811,...,500.121154,7.113774,0.456172,0.251416,0.074977,0.017495,0.644386,0.390223,0.420160,1
2,2021,3586.017251,5660.788721,1943.753848,42.665274,2283.751555,496.933781,140.754331,664.192015,415.973216,...,496.181731,7.157854,0.452707,0.239413,0.069242,0.019291,0.664204,0.389427,0.412239,1
3,2019,3370.873725,6619.614626,0.000000,311.662957,2014.843245,729.487100,354.197443,677.049498,760.454862,...,248.656208,7.084782,0.478647,0.295612,0.161785,0.047261,0.467141,0.421469,0.459697,1
4,2020,3409.747451,6693.229251,0.000000,344.325913,2032.686491,782.974201,379.394886,696.098996,808.909725,...,246.312417,7.092137,0.479053,0.284688,0.162744,0.046371,0.481499,0.424769,0.457455,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2524,2020,3839.149961,7492.102714,1972.000254,207.124040,647.776627,379.302655,415.846214,846.355676,769.799947,...,330.828118,7.349357,0.490387,0.574766,0.123798,0.083781,0.115791,0.453177,0.460586,1
2525,2021,3756.724942,7609.154072,1972.000381,210.686060,575.664940,377.453983,433.269321,922.533514,858.199920,...,341.242176,7.422146,0.491915,0.569195,0.130759,0.084051,0.116907,0.463085,0.463251,1
2526,2019,5366.584888,7717.252494,1971.750127,533.233881,2199.355425,973.789775,615.147082,906.323242,874.294928,...,1268.491165,7.200888,0.517350,0.426119,0.136041,0.093197,0.214187,0.423036,0.452032,1
2527,2020,5325.169777,7895.504988,1971.500253,608.467762,2169.710849,984.579549,635.294164,988.646483,905.589855,...,1274.982330,7.264961,0.522501,0.418256,0.143377,0.095051,0.214856,0.428323,0.448631,1
2528,2021,5283.754665,8073.757481,1971.250380,683.701644,2140.066274,995.369324,655.441246,1070.969725,936.884783,...,1281.473495,7.329035,0.527653,0.410392,0.150712,0.096905,0.215526,0.433609,0.445231,1

In [5]:
with open("Pickle_lasso_all.pkl" , 'rb') as file:  
     lasso_all = pickle.load(file)

In [6]:
with open("Pickle_lasso_all_PCA.pkl" , 'rb') as file:  
     lasso_all_PCA = pickle.load(file)

In [7]:
with open("Pickle_lasso_c1.pkl" , 'rb') as file:  
     lasso_c1 = pickle.load(file)

In [8]:
with open("Pickle_lasso_c1_PCA.pkl" , 'rb') as file:  
     lasso_c1_PCA = pickle.load(file)

In [9]:
with open("Pickle_lasso_c2.pkl" , 'rb') as file:  
     lasso_c2 = pickle.load(file)

In [10]:
with open("Pickle_lasso_c2_PCA.pkl" , 'rb') as file:  
     lasso_c2_PCA = pickle.load(file)

In [11]:
with open("Pickle_lasso_c3.pkl" , 'rb') as file:  
     lasso_c2 = pickle.load(file)

In [12]:
with open("Pickle_lasso_c3_PCA.pkl" , 'rb') as file:  
     lasso_c2_PCA = pickle.load(file)

In [6]:
with open("rf_all.pkl" , 'rb') as file:  
     rf_all = pickle.load(file)

In [14]:
list(future_feats.isnull().sum())

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [20]:
list(zip(future_feats.columns, list(future_feats.max())))

[('year', 2021.0),
 ('nonfamily_households', 24961.959410419437),
 ('family_households', 39191.43550797895),
 ('median_year_structure_built', 2017.7311023079146),
 ('rent_burden_not_computed', 2848.4269941944117),
 ('rent_over_50_percent', 12073.40810342431),
 ('rent_40_to_50_percent', 3186.730045744383),
 ('rent_35_to_40_percent', 2460.3496850851934),
 ('rent_30_to_35_percent', inf),
 ('rent_25_to_30_percent', 3899.5252270303718),
 ('rent_20_to_25_percent', 4483.325450814269),
 ('rent_15_to_20_percent', 4376.319911928115),
 ('rent_10_to_15_percent', inf),
 ('rent_under_10_percent', inf),
 ('total_pop', 148814.68682023592),
 ('median_age', 62.158737450659274),
 ('commuters_by_public_transportation', inf),
 ('households', 46486.47985255736),
 ('median_income', 179693.74810481275),
 ('income_per_capita', 157709.9979141879),
 ('housing_units', 50209.35217695162),
 ('vacant_housing_units', 12429.59346359319),
 ('vacant_housing_units_for_rent', inf),
 ('median_rent', 3743.7767035882207),
 ('percent_income_spent_on_rent', 56.855114198340374),
 ('owner_occupied_housing_units', 32971.764744078144),
 ('mortgaged_housing_units', 23584.105942116825),
 ('families_with_young_children', 13286.289342969892),
 ('two_parent_families_with_young_children', 12076.58170840527),
 ('two_parents_in_labor_force_families_with_young_children', 8082.10194267406),
 ('two_parents_father_in_labor_force_families_with_young_children', inf),
 ('one_parent_families_with_young_children', inf),
 ('commute_10_14_mins', 9017.749814319168),
 ('commute_15_19_mins', 11639.45714182798),
 ('commute_20_24_mins', 12481.479478534964),
 ('commute_25_29_mins', 8776.664135731648),
 ('commute_30_34_mins', 22083.730172806663),
 ('commute_45_59_mins', 17370.672308171957),
 ('aggregate_travel_time_to_work', 2488265.5960397497),
 ('renter_occupied_housing_units_paying_cash_median_gross_rent',
  3870.59521814631),
 ('owner_occupied_housing_units_lower_value_quartile', 1819527.6743576368),
 ('owner_occupied_housing_units_median_value', 2857143.428571857),
 ('owner_occupied_housing_units_upper_value_quartile', 3500000.2500007497),
 ('married_households', 34562.335129526786),
 ('occupied_housing_units', 46486.47985255736),
 ('housing_units_renter_occupied', 35337.40304588087),
 ('dwellings_1_units_detached', inf),
 ('dwellings_1_units_attached', inf),
 ('dwellings_2_units', inf),
 ('dwellings_3_to_4_units', inf),
 ('dwellings_5_to_9_units', inf),
 ('dwellings_10_to_19_units', inf),
 ('dwellings_20_to_49_units', inf),
 ('dwellings_50_or_more_units', 30537.828765284976),
 ('housing_built_2005_or_later', inf),
 ('housing_built_2000_to_2004', inf),
 ('housing_built_1939_or_earlier', inf),
 ('white_including_hispanic', 98480.52265261908),
 ('black_including_hispanic', 90476.23076696585),
 ('amerindian_including_hispanic', inf),
 ('asian_including_hispanic', 62146.88205048349),
 ('commute_5_9_mins', 5065.20242670866),
 ('commute_35_39_mins', inf),
 ('commute_40_44_mins', inf),
 ('commute_60_89_mins', 15872.007481669309),
 ('commute_90_more_mins', inf),
 ('households_retirement_income', 6978.953062478464),
 ('not_in_labor_force', 34600.32623779995),
 ('bachelors_degree_2', 31596.92102855022),
 ('bachelors_degree_or_higher_25_64', 49896.4649057677),
 ('children', 48965.47393182934),
 ('children_in_single_female_hh', 16020.58593945236),
 ('commuters_by_bus', inf),
 ('commuters_by_car_truck_van', 57233.56075312274),
 ('commuters_by_carpool', 6627.986972616732),
 ('commuters_drove_alone', 51633.58919154599),
 ('different_house_year_ago_different_city', 17711.146959793914),
 ('different_house_year_ago_same_city', inf),
 ('employed_arts_entertainment_recreation_accommodation_food',
  13488.066493410115),
 ('employed_construction', 9023.999768996771),
 ('employed_education_health_social', 22246.42422293728),
 ('employed_finance_insurance_real_estate', 9022.013192665892),
 ('employed_information', 6054.7467198722625),
 ('employed_manufacturing', 10131.929788255982),
 ('employed_other_services_not_public_admin', inf),
 ('employed_public_administration', 7824.583639256924),
 ('employed_retail_trade', 7112.530504802483),
 ('employed_science_management_admin_waste', 15880.135771204936),
 ('employed_transportation_warehousing_utilities', 7520.144714575745),
 ('employed_wholesale_trade', inf),
 ('gini_index', 0.6844067825566559),
 ('graduate_professional_degree', 27054.55731680264),
 ('high_school_including_ged', 31251.677398558175),
 ('households_public_asst_or_food_stamps', 17178.830608979973),
 ('in_grades_1_to_4', inf),
 ('in_grades_5_to_8', 13546.67175457111),
 ('in_grades_9_to_12', inf),
 ('in_school', 51236.468867577976),
 ('in_undergrad_college', 30357.03039061965),
 ('less_than_high_school_graduate', 36964.325551201684),
 ('management_business_sci_arts_employed', 44502.21575218783),
 ('not_us_citizen_pop', 43029.58326976798),
 ('occupation_management_arts', 44502.21575218783),
 ('occupation_natural_resources_construction_maintenance', inf),
 ('occupation_production_transportation_material', 17668.57250045938),
 ('occupation_sales_office', 15837.477051744985),
 ('occupation_services', 22001.71516175818),
 ('poverty', 37027.85225653342),
 ('sales_office_employed', 15837.477051744985),
 ('some_college_and_associates_degree', 26337.429548257867),
 ('walked_to_work', inf),
 ('worked_at_home', 9187.198823584393),
 ('workers_16_and_over', 65303.80622287969),
 ('associates_degree', 8434.237273156738),
 ('bachelors_degree', 31596.92102855022),
 ('high_school_diploma', 26754.39984283138),
 ('less_one_year_college', 10360.255448135718),
 ('masters_degree', 18602.626137509964),
 ('one_year_more_college', 15211.41988878922),
 ('commute_35_44_mins', 11764.796901819418),
 ('commute_60_more_mins', 22040.253529328358),
 ('commute_less_10_mins', 6213.706241399525),
 ('commuters_16_over', 61121.12287716281),
 ('hispanic_any_race', 103490.32935603613),
 ('cpi', 350.2599395583071),
 ('gdp', 5.907295891062008),
 ('interest', 7.799858653075569),
 ('est', 7257.649827634939),
 ('log_value', 8.449144079272088),
 ('male_ratio', 0.6387721037908661),
 ('white_ratio', 0.8960632863830662),
 ('black_ratio', 0.9807036659624351),
 ('asian_ratio', 0.747908986253294),
 ('hispanic_ratio', 0.9736452638809286),
 ('employed_ratio', 0.7963565209550042),
 ('civil_labor_ratio', 0.8210561909514664),
 ('Cluster', 2.0)]

In [7]:
print(rf_all.best_params_)
print(rf_all.best_score_)
Y_pred = rf_all.predict(future_feats)
pred_unlog = np.exp(Y_pred)
Y_unlog = future_targets[['ZRI']]
train_RMSE = np.sqrt(mean_squared_error(Y_unlog, pred_unlog))
print('The RMSE is:', train_RMSE)

{'n_estimators': 19, 'min_samples_split': 2, 'min_samples_leaf': 7, 'max_samples': 0.7}
0.9787581366670949
The RMSE is: 191.76328680528468

In [22]:
Y_pred_test = np.exp(rf_all.predict(X_test))

In [23]:
Y_actual = np.exp(Y_test)

In [38]:
zip_test

    RegionName         City
0        01104  Springfield
1        01108  Springfield
2        01109  Springfield
3        01602    Worcester
4        01603    Worcester
..         ...          ...
920      98125      Seattle
921      98201      Everett
922      98203      Everett
923      98498     Lakewood
924      98499     Lakewood

[925 rows x 2 columns]

In [39]:
diff_df = pd.DataFrame()

In [40]:
diff_df['Zip'] = zip_test['RegionName']
diff_df['City'] = zip_test['City']
diff_df['Pred'] = Y_pred_test
diff_df['Act'] = np.exp(Y_test)

In [46]:
diff_df['Model_Error'] = diff_df['Pred'] - diff_df['Act']

In [47]:
diff_df

       Zip         City         Pred          Act        Diff  Model_Error
0    01104  Springfield  1150.714148  1145.583333    5.130815     5.130815
1    01108  Springfield  1192.499645  1201.500000   -9.000355    -9.000355
2    01109  Springfield  1171.390547  1196.727273  -25.336726   -25.336726
3    01602    Worcester  1462.432603  1401.333333   61.099270    61.099270
4    01603    Worcester  1324.319494  1325.583333   -1.263839    -1.263839
..     ...          ...          ...          ...         ...          ...
920  98125      Seattle  1761.159632  1645.200000  115.959632   115.959632
921  98201      Everett  1454.265146  1450.916667    3.348480     3.348480
922  98203      Everett  1519.896025  1510.916667    8.979359     8.979359
923  98498     Lakewood  1373.151584  1409.000000  -35.848416   -35.848416
924  98499     Lakewood  1282.105103  1305.181818  -23.076715   -23.076715

[925 rows x 6 columns]

In [61]:
comparison = pd.DataFrame()

In [62]:
comparison['Zip'] = future_targets['RegionName']

In [63]:
comparison['Year'] = future_targets['year']

In [64]:
comparison['NoCOVID_ZRI'] = pred_unlog

In [65]:
comparison['COVID_ZRI'] = future_targets[['ZRI']]

In [67]:
comparison['Difference'] = comparison['NoCOVID_ZRI'] - comparison['COVID_ZRI']

In [68]:
comparison = comparison[comparison['Year']==2021]

In [69]:
test = comparison.merge(diff_df, how = 'left', on = 'Zip')

In [75]:
test['Pct'] = (test['Difference'] - test['Model_Error'])/test['Model_Error']

In [79]:
test.sort_values(by = 'Pct', key = abs).head(20)

,Zip,Year,NoCOVID_ZRI,COVID_ZRI,Difference,City,Model_Error,Pct
493,60616,2021,1647.068411,1764.163014,-117.094603,Chicago,-116.089628,0.008657
288,21217,2021,1121.413352,1065.725736,55.687616,Baltimore,52.839951,0.053892
241,15203,2021,1324.409859,1197.623335,126.786525,Pittsburgh,120.197171,0.054821
375,33060,2021,1492.618255,1478.556217,14.062038,Pompano Beach,15.162450,-0.072575
57,06605,2021,1495.417189,1448.258777,47.158412,Bridgeport,42.868472,0.100072
435,44105,2021,726.431181,689.794005,36.637176,Cleveland,41.309214,-0.113099
55,06519,2021,1340.728772,1290.427462,50.301309,New Haven,45.171851,0.113554
594,77082,2021,1268.623845,1208.530694,60.093152,Houston,68.885485,-0.127637
227,14212,2021,817.666935,808.243480,9.423455,Buffalo,10.838821,-0.130583
603,78201,2021,942.003615,913.646211,28.357404,San Antonio,32.776920,-0.134836
311,23452,2021,1271.524361,1227.929348,43.595014,Virginia Beach,52.354803,-0.167316
89,10065,2021,4038.250579,4140.221461,-101.970882,New York,-122.522365,-0.167737
58,06606,2021,1511.742960,1471.406227,40.336733,Bridgeport,34.509987,0.168842
587,77042,2021,1256.990696,1185.149431,71.841264,Houston,87.816493,-0.181916
701,90017,2021,2305.821036,2591.999993,-286.178957,Los Angeles,-349.872662,-0.182048
286,21046,2021,1779.866818,1700.137324,79.729494,Columbia,67.239475,0.185754
800,94110,2021,4010.646147,4068.378635,-57.732488,San Francisco,-70.948271,-0.186274
538,65203,2021,881.558521,839.052191,42.506331,Columbia,52.945688,-0.197171
592,77077,2021,1257.268815,1234.530657,22.738158,Houston,28.624645,-0.205644
298,22202,2021,2191.315560,2253.104181,-61.788621,Arlington,-78.373799,-0.211616

In [80]:
test.sort_values(by = 'Pct', key = abs, ascending = False).head(20)

,Zip,Year,NoCOVID_ZRI,COVID_ZRI,Difference,City,Model_Error,Pct
370,32835,2021,1594.376603,1355.068859,239.307744,Orlando,-0.002696,-88764.146207
113,10463,2021,1928.631623,1862.083742,66.547881,New York,0.008664,7679.891538
101,10310,2021,2285.272347,2027.373680,257.898668,New York,0.165075,1561.313911
371,32837,2021,2041.712992,1640.242323,401.470668,Orlando,0.278287,1441.650849
336,28277,2021,1589.566029,1383.890162,205.675867,Charlotte,-0.171162,-1202.647376
640,78754,2021,1502.569728,1300.629486,201.940242,Austin,0.238683,845.059648
198,11420,2021,2486.503137,2245.216902,241.286235,New York,-0.366812,-658.793328
829,97209,2021,2116.814217,1791.355423,325.458794,Portland,0.778037,417.307384
530,63112,2021,818.617806,788.299264,30.318543,Saint Louis,0.091007,332.143601
818,95112,2021,3483.599499,2666.671951,816.927548,San Jose,-2.589536,-316.472606
59,06607,2021,1486.953638,1373.826867,113.126771,Bridgeport,0.456215,246.968196
651,80206,2021,2215.333421,1714.025794,501.307627,Denver,-2.118273,-237.658680
796,94087,2021,3083.603373,2822.960103,260.643270,Sunnyvale,-1.262191,-207.500600
394,33305,2021,1741.034701,1609.659632,131.375069,Fort Lauderdale,-0.647032,-204.042715
18,02119,2021,3529.957626,3041.660638,488.296988,Boston,2.484813,195.512607
120,10471,2021,2023.376564,1920.381023,102.995541,New York,0.533554,192.036646
366,32811,2021,1740.694767,1373.329625,367.365142,Orlando,-2.044632,-180.672997
82,10025,2021,3978.375345,3697.162125,281.213220,New York,-1.838577,-153.951599
139,11208,2021,2569.511352,2297.349323,272.162028,New York,-1.957621,-140.026902
852,98121,2021,3137.522023,2379.931942,757.590081,Seattle,-5.738197,-133.025811

In [14]:
with open("rf_all_PCA.pkl" , 'rb') as file:  
     rf_all_PCA = pickle.load(file)

In [15]:
with open("rf_cluster1.pkl" , 'rb') as file:  
     rf_c1 = pickle.load(file)

In [16]:
with open("rf_cluster2.pkl" , 'rb') as file:  
     rf_c1 = pickle.load(file)

In [17]:
with open("rf_cluster3.pkl" , 'rb') as file:  
     rf_c1 = pickle.load(file)